@model QuickStart.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <div class="col-md-12 col-sm-12">
            @Html.EditorFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-12 col-sm-12">
            @Html.EditorFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
  
        <div class="form-group">
            <div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-6 col-xs-12">
                <div class="checkbox">
                    
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <small>@Html.LabelFor(m => m.RememberMe)</small>
                </div>

            </div>
            <div class="visible-xs clearfix"><br /></div> 
            <div class="col-md-3 col-sm-5 col-xs-12">
                <input type="submit" value="Sign in" class="btn btn-default" />
            </div>


        </div>
    
}
